---
- name: Deployment of C2 infrastructure by turnkey templates
  hosts: prox_master
  tasks:
    - name: Get hostname for later use
      ansible.builtin.command: hostname
      register: proxHostname
    - name: Create container from turnkey Nextcloud template
      community.general.proxmox:
        api_host: "{{ ansible_host }}"
        api_user: root@pam
        api_password: "{{ ansible_password }}"
        node: "{{ proxHostname.stdout }}"
        password: "{{ ansible_password }}"
        hostname: nextcloud.cpb.mil
        ostemplate: local:vztmpl/debian-12-turnkey-nextcloud_18.0-1_amd64.tar.gz
        storage: local-lvm
        cores: 2
        cpus: 1
        memory: 4096
        swap: 1024
        netif: '{"net0":"name=eth0,bridge=vmbr0,gw=10.10.10.254,ip=10.10.10.101/24"}'
        features:
          - nesting=1
        unprivileged: true
        description: CREATED WITH ANSIBLE
      changed_when: true
      register: nextcloudContainer
    - name: Create container from turnkey Mattermost template
      community.general.proxmox:
        api_host: "{{ ansible_host }}"
        api_user: root@pam
        api_password: "{{ ansible_password }}"
        node: "{{ proxHostname.stdout }}"
        password: "{{ ansible_password }}"
        hostname: mattermost.cpb.mil
        ostemplate: local:vztmpl/debian-11-turnkey-mattermost_17.2-1_amd64.tar.gz
        storage: local-lvm
        cores: 2
        cpus: 1
        memory: 4096
        swap: 1024
        netif: '{"net0":"name=eth0,bridge=vmbr0,gw=10.10.10.254,ip=10.10.10.102/24"}'
        features:
          - nesting=1
        unprivileged: true
        description: CREATED WITH ANSIBLE
      changed_when: true
      register: mattermostContainer
    - name: Create container from turnkey Redmine template
      community.general.proxmox:
        api_host: "{{ ansible_host }}"
        api_user: root@pam
        api_password: "{{ ansible_password }}"
        node: "{{ proxHostname.stdout }}"
        password: "{{ ansible_password }}"
        hostname: redmine.cpb.mil
        ostemplate: local:vztmpl/debian-11-turnkey-redmine_17.1-1_amd64.tar.gz
        storage: local-lvm
        cores: 2
        cpus: 1
        memory: 4096
        swap: 1024
        netif: '{"net0":"name=eth0,bridge=vmbr0,gw=10.10.10.254,ip=10.10.10.103/24"}'
        features:
          - nesting=1
        unprivileged: true
        description: CREATED WITH ANSIBLE
      changed_when: true
      register: redmineContainer
    - name: Start Nextcloud container
      community.general.proxmox:
        api_host: "{{ ansible_host }}"
        api_user: root@pam
        api_password: "{{ ansible_password }}"
        vmid: 101
        node: "{{ proxHostname.stdout }}"
        state: started
      changed_when: true
    - name: Start Mattermost container
      community.general.proxmox:
        api_host: "{{ ansible_host }}"
        api_user: root@pam
        api_password: "{{ ansible_password }}"
        vmid: 102
        node: "{{ proxHostname.stdout }}"
        state: started
      changed_when: true
    - name: Start Redmine container
      community.general.proxmox:
        api_host: "{{ ansible_host }}"
        api_user: root@pam
        api_password: "{{ ansible_password }}"
        vmid: 103
        node: "{{ proxHostname.stdout }}"
        state: started
      changed_when: true
    - name: Pause for 30 seconds to wait for boot
      ansible.builtin.pause:
        seconds: 30