---
- name: Join the worker node
  hosts: 2.2.2.2 #Kube worker
  become: yes
  become_user: root
  tasks:
  - name: Copy join command from Ansible master to the worker nodes
    copy:
      src: /tmp/kubernetes_join_command
      dest: /tmp/kubernetes_join_command
      mode: 0777
  - name: Join the worker nodes to the cluster
    command: bash /tmp/kubernetes_join_command
    register: join_status
  - name: Print the join status
    debug: msg="{{ join_status }}"